.video
  %h1
    = @video.name

  - if @video.performed?
    %p= video_player @video
  - elsif @video.failed?
    %p Обработка видео не удалась
  - else
    %p Идет процесс обработки видео, пожалуйста подождите

- if !@video.performed? and !@video.failed?
  :javascript
    window.onload = function() {
      window.update_fn = setInterval(function() {
        $.getScript(document.location, {
          timeout: 1000
        });
      }, 3000);
    };

.actions
  = link_to_video_delete @video.id if @video.performed? or @video.failed?
